# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/docs/sushi/configuration                     │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.dk.core
canonical: http://hl7.dk/fhir/core
name: DKCore
title: "HL7 FHIR Implementation Guide: DK Core"
description: A FHIR Implementation Guide for the Danish common needs across healthcare sectors
fhirVersion: 4.0.1
copyrightYear: 2021+
license: CC0-1.0

publisher:
  name: HL7 Denmark
  url: http://www.hl7.dk
  email: jenskristianvilladsen@gmail.com

jurisdiction: urn:iso:std:iso:3166#DK "Denmark"
# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯

menu:
   Table of Contents: toc.html
   Home: index.html
   Guidance: guidance.html
   Profiles: profiles.html
   Extensions: extensions.html
   Terminology: terminology.html
   Artifacts: artifacts.html
   Downloads: downloads.html

parameters:
  show-inherited-invariants: false
  ipa-comparison: "{last}"
  special-url: [urn:oid:1.2.208.176.2.1, urn:iso:std:iso:11073:10101, urn:oid:1.2.208.176.2.4, urn:oid:1.2.208.176.2.21, urn:oid:1.2.208.176.2.4.12]
  path-expansion-params: Parameters-expParam.json

dependencies:
  hl7.fhir.extensions.r5: 4.0.1
  hl7.fhir.uv.phd: 1.1.0
  hl7.fhir.uv.ipa: 1.0.0
  ihe.iti.mhd: 4.2.2



# ╭────────────────────────────────────────────releasing───────────────────────────────────────────╮
# │  Variables for release control                                                                 │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯

version: 3.5.0
#Flip status to 'active' for publication. Flip to 'draft' for CI
status: draft
#status: active

#Flip releaseLabel to 'release' for publication. Flip to 'ci-build' for CI
releaseLabel: ci-build
#releaseLabel: release
